/* FONTS */
/* COLORS */
:root {
	--main-color: #009bdf;
	--text-main-color: #333;
	--link-color: #009bdf;
	--archive-post-title-color: #111;
	--main-menu-color: #555;
	--main-menu-hover-color: #009bdf;
	--page-header-color: #fff;
	--meta-color: #9a9a9a;
	--button-hover-color: #007db3;
}

body {
	font-family: Georgia, Times, Times New Roman, serif;
	color: var(--text-main-color);
	font-size: 18px;
	line-height: 1.94;
	background: #f8f8f8;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Montserrat", sans-serif;
	line-height: 1.44;
	margin: 1.5em 0 0.8em;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

u {
	color: var(--main-color);
}

figure {
	margin: 0 0 1.6em;
}

.gallery {
	margin: -10px -5px 1.5em;
	display: flex;
	flex-wrap: wrap;
}

.gallery figure {
	margin: 0;
}

.gallery-item {
	padding: 10px 5px 0;
}

p {
	margin: 0 0 2.3em;
}

/* LINK */
a {
	color: var(--link-color);
}

a:hover, a:focus {
	color: var(--link-color);
}

.dropcap {
	font-weight: bold;
	color: #111;
	font-size: 11.8rem;
	float: left;
	line-height: 0.2;
	padding: 36px 0;
	border-radius: 3px;
	margin-right: 17px;
	margin-top: 7px;
	text-transform: uppercase;
}

.important-text {
	font-weight: bold;
	padding-left: 30px;
	margin-left: 40px;
	border-left: 3px solid var(--main-color);
	letter-spacing: 0.03em;
}

/* TABLE */
table {
	margin: 0 0 3em;
	width: 100%;
	font-size: 16px;
}

table .aligncenter {
	margin: 0 auto;
}

@media (max-width: 767px) {
	table {
		font-size: 12px;
	}
}

tbody tr:first-child {
	background: #f8f8f8;
}

tbody tr:first-child > td {
	font-weight: 600;
	color: #111;
	font-family: "Montserrat", sans-serif;
}

tr {
	border-bottom: 1px solid #e2e2e2;
}

th {
	font-weight: 600;
	color: #111;
	font-family: "Montserrat", sans-serif;
}

.wp-block-table td,
.wp-block-table th {
	text-align: center;
	padding: 26px 5px;
}

td {
	color: #777;
}

.wp-block-table td,
.wp-block-table th {
	border: none;
}

/* LIST */
ol, ul {
	padding-left: 58px;
}

.entry-content li > ul,
.entry-content li > ol,
.comment-content li > ul,
.comment-content li > ol {
	padding-left: 17px;
}

.entry-content ul li:not(.blocks-gallery-item), .entry-content ol li:not(.blocks-gallery-item),
.comment-content ul li:not(.blocks-gallery-item),
.comment-content ol li:not(.blocks-gallery-item) {
	padding-left: 17px;
}

.entry-content ul li:not(.blocks-gallery-item) + li, .entry-content ol li:not(.blocks-gallery-item) + li,
.comment-content ul li:not(.blocks-gallery-item) + li,
.comment-content ol li:not(.blocks-gallery-item) + li {
	margin-top: 20px;
}

.entry-content ul li:not(.blocks-gallery-item) li:first-child, .entry-content ol li:not(.blocks-gallery-item) li:first-child,
.comment-content ul li:not(.blocks-gallery-item) li:first-child,
.comment-content ol li:not(.blocks-gallery-item) li:first-child {
	margin-top: 20px;
}

.entry-content ul.contact-info li,
.comment-content ul.contact-info li {
	margin: 0 !important;
}

.has-small-font-size {
	font-size: 12px;
}

.has-regular-font-size {
	font-size: 14px;
}

.has-large-font-size {
	font-size: 18px;
}

.has-larger-font-size {
	font-size: 24px;
}

.has-huge-font-size {
	font-size: 30px;
}

:root .has-accent-background-color {
	background-color: #009bdf;
}

:root .has-accent-background-color a {
	color: #fff;
}

:root .has-accent-color {
	color: #009bdf;
}

:root .has-gray-background-color {
	background-color: #9a9a9a;
}

:root .has-gray-color {
	color: #9a9a9a;
}

:root .has-black-background-color {
	background-color: #111;
}

:root .has-black-color {
	color: #111;
}

:root .has-white-background-color {
	background-color: #fff;
}

:root .has-white-color {
	color: #fff;
}

.is-style-outline .wp-block-button__link:not(.has-text-color) {
	color: var(--main-color);
}

.is-style-outline .wp-block-button__link:not(.has-text-color):hover {
	color: #fff;
}

.is-style-outline .wp-block-button__link:not(.has-background):hover {
	background-color: var(--main-color);
	border-color: var(--main-color);
}

.wp-block-button__link {
	border: none;
	background: var(--main-color);
	display: inline-block;
	border-radius: 25px;
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif;
	font-size: 11px;
	transition: 0.3s ease;
	padding: 10px 38px;
	color: #fff;
	letter-spacing: 0.04em;
	line-height: inherit;
}

.wp-block-button__link:hover {
	text-decoration: none !important;
	background: var(--button-hover-color);
}

.wp-block-button.is-style-outline .wp-block-button__link {
	border: 2px solid var(--main-color);
	color: var(--main-color);
}

.wp-block-button.is-style-outline .wp-block-button__link:hover {
	text-decoration: none;
	background: var(--main-color);
	color: #fff;
}

.wp-block-file .wp-block-file__button {
	background-color: #111;
	border-radius: 0;
}

.wp-block-file .wp-block-file__button:hover {
	background-color: var(--main-color);
}

.wp-block-file a.wp-block-file__button:hover {
	opacity: 1;
}

.wp-block-calendar a {
	text-decoration: none;
}

.wp-block-calendar tfoot a {
	color: var(--main-color);
}

.wp-block-image {
	margin-bottom: 1.5em;
}

.tag-cloud-link {
	font-weight: bold;
	font-size: 10px !important;
	color: #111;
	line-height: 1.3;
	padding: 4px 11px 5px;
	border: 1px solid #111;
	margin: 10px 6px 0 0;
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
}

.tag-cloud-link:hover {
	color: #fff;
	border-color: var(--main-color);
	background: var(--main-color);
}

.wp-block-cover .is-style-outline .wp-block-button__link:not(.has-background) {
	background-color: transparent;
}

.wp-block-cover .is-style-outline .wp-block-button__link:not(.has-background):hover {
	background-color: #fff;
	border-color: #fff;
}

.wp-block-cover .is-style-outline .wp-block-button__link:not(.has-text-color) {
	color: #fff;
}

.wp-block-cover .is-style-outline .wp-block-button__link:not(.has-text-color):hover {
	color: #111;
}

.wp-block-cover .is-style-outline .wp-block-button__link.has-white-color:hover {
	color: #111;
}

blockquote,
.wp-block-quote {
	padding: 110px 0 30px;
	margin: 0;
	position: relative;
	line-height: inherit;
	font-size: 28px;
	text-align: center;
	font-style: italic;
	line-height: 1.7;
	border-left: none;
}

blockquote:before, blockquote:after,
.wp-block-quote:before,
.wp-block-quote:after {
	position: absolute;
}

blockquote:before,
.wp-block-quote:before {
	content: '';
	background-image: url(images/quote.png);
	background-repeat: no-repeat;
	bottom: 0;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	width: 85px;
	height: 65px;
	z-index: 2;
}

blockquote:after,
.wp-block-quote:after {
	content: '';
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: var(--main-color);
	z-index: 1;
	top: 10px;
	left: calc( 50% + 35px);
	transform: translateX(-50%);
}

blockquote cite,
.wp-block-quote cite {
	color: #9a9a9a;
	position: relative;
	font-size: 13px;
	margin-top: 16px;
	display: block;
	font-style: normal;
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	letter-spacing: 1px;
}

blockquote cite:before,
.wp-block-quote cite:before {
	content: '';
	display: block;
	background: #e2e2e2;
	height: 2px;
	width: 70px;
	margin: 0 auto 16px;
}

@media (min-width: 575px) {
	blockquote,
	.wp-block-quote {
		max-width: 100%;
		margin: 0 auto;
	}
}

.wp-block-quote.is-large, .wp-block-quote.is-style-large {
	margin: 0 auto;
	padding: 125px 0 30px;
}

.wp-block-quote.is-large cite, .wp-block-quote.is-style-large cite {
	text-align: inherit;
	font-size: 13px;
}

.wp-block-quote.is-large p, .wp-block-quote.is-style-large p {
	font-size: 28px;
}

.wp-block-quote[style="text-align:right"]:before, .wp-block-quote[style="text-align:right"]:after,
.wp-block-pullquote.alignright blockquote:before,
.wp-block-pullquote.alignright blockquote:after {
	right: 0;
	left: unset;
	transform: none;
}

.wp-block-quote[style="text-align:right"] cite:before,
.wp-block-pullquote.alignright blockquote cite:before {
	margin-left: auto;
	margin-right: 0;
}

hr.wp-block-separator {
	clear: both;
}

.wp-block-quote[style="text-align:left"]:before,
.wp-block-pullquote.alignleft blockquote:before {
	left: 0;
	transform: none;
}

.wp-block-quote[style="text-align:left"]:after,
.wp-block-pullquote.alignleft blockquote:after {
	left: 60px;
	transform: none;
}

.wp-block-quote[style="text-align:left"] cite:before,
.wp-block-pullquote.alignleft blockquote cite:before {
	margin-left: 0;
	margin-right: auto;
}

.wp-block-pullquote {
	padding: 0;
}

.wp-block-pullquote.wp-block-pullquote.is-style-default {
	border: none;
}

.wp-block-pullquote.wp-block-pullquote.is-style-default p {
	font-size: 28px;
}

.wp-block-pullquote.wp-block-pullquote.is-style-default cite {
	color: #9a9a9a;
}

.wp-block-pullquote.alignleft blockquote {
	text-align: left;
}

.wp-block-pullquote.alignright blockquote {
	text-align: right;
}

.wp-block-pullquote.alignfull.is-style-default blockquote {
	background-color: #fff;
}

.wp-block-pullquote.is-style-solid-color blockquote p {
	font-size: 28px;
}

.wp-block-pullquote.is-style-solid-color blockquote cite {
	text-align: center;
}

figure.wp-block-image.alignleft {
	margin-right: 1.5em;
}

figure.wp-block-image.alignright {
	margin-left: 1.5em;
}

.wp-block-cover.alignleft {
	margin: 4px 30px 20px 0;
}

.wp-block-cover.alignright {
	margin: 4px 0 20px 30px;
}

.blocks-gallery-caption,
.wp-block-embed figcaption,
.wp-block-image figcaption {
	color: var(--text-color);
	font-size: 18px;
	margin-bottom: 22px;
}

@media (max-width: 768px) {
	.wp-block-columns .wp-block-column {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		margin-left: 0;
		margin-bottom: 40px;
	}
}

.wp-block-verse,
.wp-block-preformatted {
	padding: 60px;
	font-size: 15px;
}

@media (min-width: 768px) {
	.entry-content .alignfull {
		margin-left: calc(50% - 50vw);
		margin-right: calc(50% - 49.4vw);
		width: auto;
		max-width: 1000%;
	}
	.entry-content .alignfull blockquote {
		max-width: 100%;
	}
	.entry-content .alignfull iframe {
		width: 100%;
	}
}

body p {
	margin-bottom: 22px;
}

.wp-block {
	max-width: 790px;
}

.wp-block[data-align="wide"] {
	max-width: 1200px;
}

.wp-block[data-align="full"] {
	max-width: none;
}

.editor-post-title__block .editor-post-title__input {
	font-family: Georgia, Times, Times New Roman, serif;
	line-height: 1.3;
	font-size: 24px;
}

.is-style-outline .wp-block-button__link {
	border: 2px solid;
	background-color: transparent;
}

.wp-block-cover .is-style-outline .wp-block-button__link.has-white-color:hover {
	color: #111 !important;
}

.wp-block-search .wp-block-search__input {
	border-radius: 0;
	padding: 8px 10px 7px;
	font: normal normal normal 14px/1.93 Georgia, Times, Times New Roman, serif;
}

.wp-block-search .wp-block-search__button .wp-block-search__button-rich-text {
	padding: 0;
}

.wp-block-jetpack-contact-form .components-base-control__label {
	font-size: 14px;
	font-family: Georgia, Times, Times New Roman, serif;
}

.blocks-gallery-caption,
.wp-block-embed figcaption,
.wp-block-image figcaption {
	color: #333;
	font-size: 18px;
	text-align: center;
}

.wp-block-quote__citation {
	font-size: 13px;
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	letter-spacing: 1px;
}

.wp-block-quote__citation:before {
	content: '';
	display: block;
	background: #e2e2e2;
	height: 2px;
	width: 70px;
	margin: 0 auto 16px;
}
